div,html,body {
	padding: 0;
	margin: 0;
}

#slider2 {
	width: 60%;
	height: 390px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}


.slider-container {
	width:100%;
	height: 100%;
	overflow: hidden;

}
.anythingSlider-default,.anythingWindow {
	padding:25px !important;
	margin: 0px !important;
	border:	0px !important;
	background-color: black;
}
